<section class="container" id="app">
    <div class="form-inline mr-auto">
     <label class="font-weight-bold mr-2" for="formMax">max</label>
             <input type="text" class="form-control w-25" v-model="maximum" id=formMax>
    </div>
   <input type="range" class="custom-range" min="0" max="200" v-model="maximum">
     <div id="display-list" class="row d-flex mb-3 align-items-center" v-for="item in products"
          v-if="item.price <= Number(maximum)">
      
      <div>
      <div class="col-sm-4">
       <img class="img-fluid d-block" :src="item.image" :alt="item.name">
      </div>
      <div class="col">
        <h3 class="text-info">{{item.name}}</h3>
        <p class="mb-0">{{item.description}}</p>
        <div class="h5 float-right">${{item.price}}</div>     
       </div>
      </div>
     </div>
   </section>
   